/*DEFINIZIONE DELLA PALETTE DI COLORI PERSONALIZZATA*/

:root {
  --md-primary-fg-color: #0D1117;
  --md-accent-fg-color: #00767A;
  --md-default-bg-color: #0D1117;
  --md-default-fg-color: #F0E2E7;
}

/* Header */
.md-header {
  background-color: #0D1117;
}

/* Sidebar (non funziona)
.md-sidebar {
  background-color: #41474E;
}*/

/* Links */
a {
  color: #FFA400;
}

/* Buttons */
.md-typeset .md-button {
  background-color: #00767A;
  color: #c7bbbf !important;
  border-radius: 8px;
  padding: 0.4em 0.8em;
}

.mermaid .node {
  rx: 8px !important; /* Raggio orizzontale */
  ry: 8px !important; /* Raggio verticale */
}